---
import Layout from '../layouts/Layout.astro'
import TheNav from '../components/TheNav.astro'
import HeroSection from '../components/HeroSection.astro'
import DifferentiatorsSection from '../components/DifferentiatorsSection.astro'
import StatsMockupSection from '../components/StatsMockupSection.astro'
import CtaSection from '../components/CtaSection.astro'
import TheFooter from '../components/TheFooter.astro'
---
<Layout>
  <TheNav />
  <main>
    <HeroSection />
    <DifferentiatorsSection />
    <StatsMockupSection />
    <CtaSection />
  </main>
  <TheFooter />
</Layout>
